html,
body {
  height: 100%;
}

body {
  background-color: #282c34;
  font-size: 1rem;
  line-height: 1.4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  color: #ffffff;
}

a:hover {
  text-decoration: none;
}

.App {
  text-align: left;
  color: white;
  padding: 3rem;
}

header {
  font-size: 3rem;
}

main {
  flex: 1 0 auto;
}

.bio {
  max-width: 500px;
  color: #b8babc;
}

footer {
  margin-top: 2rem;
}

/* Animation */
@media (prefers-reduced-motion: no-preference) {
  .anim-type {
    animation: typewriter 1s steps(6) 500ms 1 normal both;
    white-space: nowrap;
    overflow: hidden;
  }
  .cursor--blink {
    animation: blinkTextCursor 700ms steps(6) infinite normal;
  }
}
.anim-type {
  display: inline-block;
  vertical-align: bottom;
}

.cursor--blink {
  display: inline-block;
  vertical-align: bottom;
}

.footer-link-sep {
  opacity: 0.3;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 173px;
  }
}
@keyframes blinkTextCursor {
  from {
    opacity: 0.75;
  }
  to {
    opacity: 0;
  }
}
